node-red/node-red-wrapper.json
[
    {
        "id": "2a82fd2c.f87992",
        "type": "subflow",
        "name": "Set context",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 320,
                "wires": [
                    {
                        "id": "3e99b77c.66daf8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1260,
                "y": 320,
                "wires": [
                    {
                        "id": "3e99b77c.66daf8",
                        "port": 1
                    },
                    {
                        "id": "c9927432.8c1d48",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "67dda9cd.05c2d8",
        "type": "function",
        "z": "2a82fd2c.f87992",
        "name": "Build message",
        "func": "msg.headers = {};\n\nmsg.headers[\"content-type\"] = \"application/json\"\nmsg.headers[\"Accept\"] = \"application/json\"\n\nmsg.headers['Authorization'] = \"Bearer \"+ flow.get(\"$parent.access_token\");\n\nmsg.method = \"GET\";\nmsg.url = \"https://api.danalock.com/locks/v1\";\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 240,
        "wires": [
            [
                "641252a1.7afa9c",
                "53a0673e.d53928"
            ]
        ]
    },
    {
        "id": "53a0673e.d53928",
        "type": "debug",
        "z": "2a82fd2c.f87992",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 180,
        "wires": []
    },
    {
        "id": "641252a1.7afa9c",
        "type": "http request",
        "z": "2a82fd2c.f87992",
        "name": "api.danalock.com",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 727,
        "y": 238,
        "wires": [
            [
                "b4aa9906.7cc418",
                "753a5668.e20c48"
            ]
        ]
    },
    {
        "id": "b4aa9906.7cc418",
        "type": "debug",
        "z": "2a82fd2c.f87992",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 180,
        "wires": []
    },
    {
        "id": "c9927432.8c1d48",
        "type": "change",
        "z": "2a82fd2c.f87992",
        "name": "Set context variables",
        "rules": [
            {
                "t": "set",
                "p": "$parent.danalock-lock",
                "pt": "flow",
                "to": "payload[0].afi.serial_number",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "$parent.danalock-lock-id",
                "pt": "flow",
                "to": "payload[0].id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1023,
        "y": 237,
        "wires": [
            [
                "e0919b3b.71ffa8"
            ]
        ]
    },
    {
        "id": "e0919b3b.71ffa8",
        "type": "debug",
        "z": "2a82fd2c.f87992",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1310,
        "y": 160,
        "wires": []
    },
    {
        "id": "3e99b77c.66daf8",
        "type": "switch",
        "z": "2a82fd2c.f87992",
        "name": "Ensure context vars are set",
        "property": "danalock-lock",
        "propertyType": "flow",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 260,
        "y": 320,
        "wires": [
            [
                "67dda9cd.05c2d8"
            ],
            []
        ]
    },
    {
        "id": "fb2cebbf.aaf1a8",
        "type": "subflow:cc07b1f9.6ea84",
        "z": "2a82fd2c.f87992",
        "name": "",
        "env": [],
        "x": 290,
        "y": 60,
        "wires": []
    },
    {
        "id": "753a5668.e20c48",
        "type": "switch",
        "z": "2a82fd2c.f87992",
        "name": "Refresh access token?",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "401",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1020,
        "y": 180,
        "wires": [
            [
                "dda7a7cd.8876d8"
            ],
            [
                "c9927432.8c1d48"
            ]
        ]
    },
    {
        "id": "dda7a7cd.8876d8",
        "type": "change",
        "z": "2a82fd2c.f87992",
        "name": "Prepare",
        "rules": [
            {
                "t": "set",
                "p": "access_token",
                "pt": "flow",
                "to": "need-to-refresh",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg-payload",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 140,
        "y": 126,
        "wires": [
            [
                "a2a14a14.d73e48",
                "fb2cebbf.aaf1a8"
            ]
        ]
    },
    {
        "id": "a2a14a14.d73e48",
        "type": "delay",
        "z": "2a82fd2c.f87992",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 340,
        "y": 120,
        "wires": [
            [
                "67dda9cd.05c2d8"
            ]
        ]
    },
    {
        "id": "cc07b1f9.6ea84",
        "type": "subflow",
        "name": "OAuth - get access token",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 20,
                "y": 140,
                "wires": [
                    {
                        "id": "3df547ad.d54128"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "82a1da71.83fe38",
        "type": "function",
        "z": "cc07b1f9.6ea84",
        "name": "Grant type password",
        "func": "msg.oauth2Request = { \n    \"access_token_url\": \"https://api.danalock.com/oauth2/token\", \n    \"credentials\": {\n        \"grant_type\": \"password\",\n        \"username\": `${flow.get(\"$parent.danalock-username\")}`,\n        \"password\": `${flow.get(\"$parent.danalock-password\")}`,\n        \"client_id\": \"danalock-web\",\n        \"client_secret\": \"\",\n        \"scope\": \"\"\n    }\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 440,
        "y": 200,
        "wires": [
            [
                "bab50ea9.cb3e5",
                "c94192a3.36cde"
            ]
        ]
    },
    {
        "id": "bab50ea9.cb3e5",
        "type": "oauth2",
        "z": "cc07b1f9.6ea84",
        "name": "",
        "container": "payload",
        "access_token_url": "",
        "grant_type": "set_by_credentials",
        "username": "",
        "password": "",
        "client_id": "",
        "client_secret": "",
        "scope": "",
        "x": 630,
        "y": 160,
        "wires": [
            [
                "5cedb746.710048",
                "66d2178e.995f08"
            ]
        ]
    },
    {
        "id": "3df547ad.d54128",
        "type": "switch",
        "z": "cc07b1f9.6ea84",
        "name": "Retrieve access token",
        "property": "$parent.access_token",
        "propertyType": "flow",
        "rules": [
            {
                "t": "cont",
                "v": "need-to-refresh",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 200,
        "y": 160,
        "wires": [
            [
                "381730e7.8420a"
            ],
            [
                "82a1da71.83fe38"
            ]
        ]
    },
    {
        "id": "381730e7.8420a",
        "type": "function",
        "z": "cc07b1f9.6ea84",
        "name": "Grant type refresh token",
        "func": "msg.oauth2Request = { \n    \"access_token_url\": \"https://api.danalock.com/oauth2/token\", \n    \"credentials\": {\n        \"grant_type\": \"refresh_token\",\n        \"client_id\": \"danalock-web\",\n        \"client_secret\": \"\",\n        \"refresh_token\": `${flow.get(\"$parent.refresh_token\")}`,\n        \"scope\": \"\"\n    }\n};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 450,
        "y": 120,
        "wires": [
            [
                "bab50ea9.cb3e5"
            ]
        ]
    },
    {
        "id": "5cedb746.710048",
        "type": "function",
        "z": "cc07b1f9.6ea84",
        "name": "Set flow context",
        "func": "msg.headers = {};\n\nflow.set(\"$parent.refresh_token\", msg.payload.oauth2Response.body.refresh_token);\nflow.set(\"$parent.access_token\",  msg.payload.oauth2Response.body.access_token);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 840,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "c94192a3.36cde",
        "type": "debug",
        "z": "cc07b1f9.6ea84",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 320,
        "wires": []
    },
    {
        "id": "66d2178e.995f08",
        "type": "debug",
        "z": "cc07b1f9.6ea84",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 300,
        "wires": []
    },
    {
        "id": "1779f929.635777",
        "type": "tab",
        "label": "Danalock",
        "disabled": false,
        "info": ""
    },
    {
        "id": "134ccf25.e14551",
        "type": "http response",
        "z": "1779f929.635777",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1290,
        "y": 380,
        "wires": []
    },
    {
        "id": "499f6638.613b68",
        "type": "subflow:cc07b1f9.6ea84",
        "z": "1779f929.635777",
        "name": "Oauth2",
        "env": [],
        "x": 540,
        "y": 80,
        "wires": []
    },
    {
        "id": "9f304255.2f42a",
        "type": "switch",
        "z": "1779f929.635777",
        "name": "Refresh access token?",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "401",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 980,
        "y": 300,
        "wires": [
            [
                "5850ff74.3ad62"
            ],
            [
                "c491441a.135058"
            ]
        ]
    },
    {
        "id": "5850ff74.3ad62",
        "type": "change",
        "z": "1779f929.635777",
        "name": "Prepare",
        "rules": [
            {
                "t": "set",
                "p": "access_token",
                "pt": "flow",
                "to": "need-to-refresh",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg-payload",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 120,
        "y": 140,
        "wires": [
            [
                "499f6638.613b68",
                "fb29645.52e9d98"
            ]
        ]
    },
    {
        "id": "ebfd4e06.177e4",
        "type": "http request",
        "z": "1779f929.635777",
        "name": "Poll for job status",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 750,
        "y": 600,
        "wires": [
            [
                "adeb19b4.135a48",
                "31d6e83.2e64918"
            ]
        ]
    },
    {
        "id": "227e839c.872bdc",
        "type": "function",
        "z": "1779f929.635777",
        "name": "Build message",
        "func": "//msg.payload = \"data to post\";\nmsg.headers = {};\n\n//msg.headers[\"content-type\"] = \"application/json\"\n//msg.headers[\"Accept\"] = \"application/json\"\n\nmsg.headers['Authorization'] = \"Bearer \"+ flow.get(\"access_token\");\n\nmsg.method = \"POST\";\n\nmsg.url = \"https://bridge.danalockservices.com/bridge/v1/poll\";\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 539,
        "y": 600,
        "wires": [
            [
                "ebfd4e06.177e4",
                "d01cdace.162b98"
            ]
        ]
    },
    {
        "id": "c8c47d45.74109",
        "type": "delay",
        "z": "1779f929.635777",
        "name": "",
        "pauseType": "delay",
        "timeout": "6",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 286,
        "y": 597,
        "wires": [
            [
                "227e839c.872bdc"
            ]
        ]
    },
    {
        "id": "7175b446.db1a4c",
        "type": "function",
        "z": "1779f929.635777",
        "name": "Status",
        "func": "msg.headers = {};\nmsg.headers[\"content-type\"] = \"application/json\"\nmsg.headers[\"Accept\"] = \"application/json\"\nmsg.headers['Authorization'] = \"Bearer \"+ flow.get(\"access_token\");\n\n\nmsg.method = \"POST\";\nmsg.payload = {\"device\": flow.get(\"danalock-lock\"),\"operation\":\"afi.lock.get-state\"};\n\nmsg.url = \"https://bridge.danalockservices.com/bridge/v1/execute\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 590,
        "y": 320,
        "wires": [
            [
                "c7c5f532.1fa4b8",
                "d13d6a4c.723f18"
            ]
        ]
    },
    {
        "id": "ec37b5de.157e78",
        "type": "function",
        "z": "1779f929.635777",
        "name": "Lock",
        "func": "msg.headers = {};\nmsg.headers[\"content-type\"] = \"application/json\"\nmsg.headers[\"Accept\"] = \"application/json\"\nmsg.headers['Authorization'] = \"Bearer \"+ flow.get(\"access_token\");\n\n\nmsg.method = \"POST\";\nmsg.payload = {\"device\": flow.get(\"danalock-lock\"),\"operation\":\"afi.lock.operate\",\"arguments\":[\"lock\"]};\n\nmsg.url = \"https://bridge.danalockservices.com/bridge/v1/execute\";\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 590,
        "y": 361,
        "wires": [
            [
                "c7c5f532.1fa4b8",
                "d13d6a4c.723f18"
            ]
        ]
    },
    {
        "id": "e42b630b.20e04",
        "type": "change",
        "z": "1779f929.635777",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.result.state",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1121,
        "y": 600,
        "wires": [
            [
                "9af67869.4885d8"
            ]
        ]
    },
    {
        "id": "7da38d4a.fb6544",
        "type": "function",
        "z": "1779f929.635777",
        "name": "Unlock",
        "func": "msg.headers = {};\nmsg.headers[\"content-type\"] = \"application/json\"\nmsg.headers[\"Accept\"] = \"application/json\"\nmsg.headers['Authorization'] = \"Bearer \"+ flow.get(\"access_token\");\n\n\nmsg.method = \"POST\";\nmsg.payload = {\"device\":flow.get(\"danalock-lock\"),\"operation\":\"afi.lock.operate\",\"arguments\":[\"unlock\"]};\n\n\nmsg.url = \"https://bridge.danalockservices.com/bridge/v1/execute\";\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 590,
        "y": 400,
        "wires": [
            [
                "c7c5f532.1fa4b8",
                "d13d6a4c.723f18"
            ]
        ]
    },
    {
        "id": "c491441a.135058",
        "type": "switch",
        "z": "1779f929.635777",
        "name": "",
        "property": "req.url",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/danalock/bridge/v1/execute/status",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1150,
        "y": 340,
        "wires": [
            [
                "c8c47d45.74109"
            ],
            [
                "134ccf25.e14551"
            ]
        ]
    },
    {
        "id": "adeb19b4.135a48",
        "type": "switch",
        "z": "1779f929.635777",
        "name": "",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "InProgress",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 935,
        "y": 600,
        "wires": [
            [
                "ddda6135.74214"
            ],
            [
                "e42b630b.20e04"
            ]
        ]
    },
    {
        "id": "ddda6135.74214",
        "type": "delay",
        "z": "1779f929.635777",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 700,
        "y": 500,
        "wires": [
            [
                "227e839c.872bdc"
            ]
        ]
    },
    {
        "id": "6dcc740e.4daeac",
        "type": "function",
        "z": "1779f929.635777",
        "name": "Logs",
        "func": "msg.headers = {};\nmsg.headers[\"content-type\"] = \"application/json\"\nmsg.headers[\"Accept\"] = \"application/json\"\nmsg.headers['Authorization'] = \"Bearer \"+ flow.get(\"access_token\");\n\n\nmsg.method = \"GET\";\nmsg.url = \"/danalock/log/v1/lock\" + \"/\" + flow.get(\"danalock-lock-id\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 590,
        "y": 243,
        "wires": [
            [
                "c7c5f532.1fa4b8",
                "d13d6a4c.723f18"
            ]
        ]
    },
    {
        "id": "c7c5f532.1fa4b8",
        "type": "http request",
        "z": "1779f929.635777",
        "name": "Call API",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 792,
        "y": 322,
        "wires": [
            [
                "9f304255.2f42a",
                "3f841eeb.5c4e92"
            ]
        ]
    },
    {
        "id": "9af67869.4885d8",
        "type": "http response",
        "z": "1779f929.635777",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1291,
        "y": 600,
        "wires": []
    },
    {
        "id": "4800f679.eaa748",
        "type": "comment",
        "z": "1779f929.635777",
        "name": "Getting started - Set your Danalock user and passord in node \"Set Danalock account credentials\" (at the top)",
        "info": "",
        "x": 370,
        "y": 20,
        "wires": []
    },
    {
        "id": "65391942.7f7078",
        "type": "inject",
        "z": "1779f929.635777",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 60,
        "wires": [
            [
                "5e845bdd.9da524"
            ]
        ]
    },
    {
        "id": "5e845bdd.9da524",
        "type": "change",
        "z": "1779f929.635777",
        "name": "Set Danalock account credentials",
        "rules": [
            {
                "t": "set",
                "p": "danalock-username",
                "pt": "flow",
                "to": "user@mail.com",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "danalock-password",
                "pt": "flow",
                "to": "the-password",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 60,
        "wires": [
            [
                "499f6638.613b68"
            ]
        ]
    },
    {
        "id": "fb29645.52e9d98",
        "type": "delay",
        "z": "1779f929.635777",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 260,
        "y": 160,
        "wires": [
            [
                "3312df59.e286c"
            ]
        ]
    },
    {
        "id": "d13d6a4c.723f18",
        "type": "debug",
        "z": "1779f929.635777",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 380,
        "wires": []
    },
    {
        "id": "d01cdace.162b98",
        "type": "debug",
        "z": "1779f929.635777",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 680,
        "wires": []
    },
    {
        "id": "31d6e83.2e64918",
        "type": "debug",
        "z": "1779f929.635777",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 680,
        "wires": []
    },
    {
        "id": "3f841eeb.5c4e92",
        "type": "debug",
        "z": "1779f929.635777",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 380,
        "wires": []
    },
    {
        "id": "a1004029.254ab",
        "type": "function",
        "z": "1779f929.635777",
        "name": "Locks",
        "func": "msg.headers = {};\nmsg.headers[\"content-type\"] = \"application/json\"\nmsg.headers[\"Accept\"] = \"application/json\"\nmsg.headers['Authorization'] = \"Bearer \"+ flow.get(\"access_token\");\n\n\nmsg.method = \"GET\";\n// msg.url = \"https://api.danalock.com\" + msg.req.url;\nmsg.url = \"https://api.danalock.com/locks/v1\";\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 590,
        "y": 280,
        "wires": [
            [
                "c7c5f532.1fa4b8",
                "d13d6a4c.723f18"
            ]
        ]
    },
    {
        "id": "1dd11f44.57ea71",
        "type": "subflow:2a82fd2c.f87992",
        "z": "1779f929.635777",
        "name": "",
        "env": [],
        "x": 280,
        "y": 340,
        "wires": [
            [
                "3312df59.e286c"
            ]
        ]
    },
    {
        "id": "a6b6d999.190108",
        "type": "http in",
        "z": "1779f929.635777",
        "name": "",
        "url": "/danalock/*",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 340,
        "wires": [
            [
                "1dd11f44.57ea71"
            ]
        ]
    },
    {
        "id": "3312df59.e286c",
        "type": "switch",
        "z": "1779f929.635777",
        "name": "",
        "property": "req.url",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/danalock/log/v1/lock",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/danalock/locks/v1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/danalock/bridge/v1/execute/status",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/danalock/bridge/v1/execute/lock",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/danalock/bridge/v1/execute/unlock",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 435,
        "y": 329,
        "wires": [
            [
                "6dcc740e.4daeac"
            ],
            [
                "a1004029.254ab"
            ],
            [
                "7175b446.db1a4c"
            ],
            [
                "ec37b5de.157e78"
            ],
            [
                "7da38d4a.fb6544"
            ]
        ]
    }
]