node-red/node-red-wrapper.json
[
    {
        "id": "2a82fd2c.f87992",
        "type": "subflow",
        "name": "Set context",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 20,
                "y": 320,
                "wires": [
                    {
                        "id": "3e99b77c.66daf8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 920,
                "y": 720,
                "wires": [
                    {
                        "id": "3e99b77c.66daf8",
                        "port": 1
                    },
                    {
                        "id": "c9927432.8c1d48",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "67dda9cd.05c2d8",
        "type": "function",
        "z": "2a82fd2c.f87992",
        "name": "Build \"list locks\" req msg",
        "func": "msg.headers = {};\n\nmsg.headers[\"content-type\"] = \"application/json\"\nmsg.headers[\"Accept\"] = \"application/json\"\n\nmsg.headers['Authorization'] = \"Bearer \"+ flow.get(\"$parent.accessToken\");\n\nmsg.method = \"GET\";\nmsg.url = \"https://api.danalock.com/locks/v1\";\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 280,
        "wires": [
            [
                "641252a1.7afa9c",
                "53a0673e.d53928"
            ]
        ]
    },
    {
        "id": "53a0673e.d53928",
        "type": "debug",
        "z": "2a82fd2c.f87992",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 380,
        "wires": []
    },
    {
        "id": "641252a1.7afa9c",
        "type": "http request",
        "z": "2a82fd2c.f87992",
        "name": "api.danalock.com",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 770,
        "y": 280,
        "wires": [
            [
                "b4aa9906.7cc418",
                "753a5668.e20c48"
            ]
        ]
    },
    {
        "id": "b4aa9906.7cc418",
        "type": "debug",
        "z": "2a82fd2c.f87992",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 380,
        "wires": []
    },
    {
        "id": "c9927432.8c1d48",
        "type": "change",
        "z": "2a82fd2c.f87992",
        "name": "Persist locks",
        "rules": [
            {
                "t": "set",
                "p": "$parent.locks",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 320,
        "wires": [
            [
                "e0919b3b.71ffa8"
            ]
        ]
    },
    {
        "id": "e0919b3b.71ffa8",
        "type": "debug",
        "z": "2a82fd2c.f87992",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1330,
        "y": 160,
        "wires": []
    },
    {
        "id": "3e99b77c.66daf8",
        "type": "switch",
        "z": "2a82fd2c.f87992",
        "name": "Retrieve list of locks?",
        "property": "$parent.locks",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "init",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 180,
        "y": 320,
        "wires": [
            [
                "67dda9cd.05c2d8"
            ],
            []
        ]
    },
    {
        "id": "fb2cebbf.aaf1a8",
        "type": "subflow:cc07b1f9.6ea84",
        "z": "2a82fd2c.f87992",
        "name": "",
        "env": [],
        "x": 610,
        "y": 20,
        "wires": []
    },
    {
        "id": "753a5668.e20c48",
        "type": "switch",
        "z": "2a82fd2c.f87992",
        "name": "Refresh access token?",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "401",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1020,
        "y": 280,
        "wires": [
            [
                "dda7a7cd.8876d8"
            ],
            [
                "c9927432.8c1d48"
            ]
        ]
    },
    {
        "id": "dda7a7cd.8876d8",
        "type": "change",
        "z": "2a82fd2c.f87992",
        "name": "Persist msg.payload + signal need for access token update",
        "rules": [
            {
                "t": "set",
                "p": "$parent.accessToken",
                "pt": "flow",
                "to": "Refresh me!",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$parent.msgPayload",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 60,
        "wires": [
            [
                "a2a14a14.d73e48",
                "fb2cebbf.aaf1a8"
            ]
        ]
    },
    {
        "id": "a2a14a14.d73e48",
        "type": "delay",
        "z": "2a82fd2c.f87992",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 580,
        "y": 100,
        "wires": [
            [
                "67dda9cd.05c2d8"
            ]
        ]
    },
    {
        "id": "cc07b1f9.6ea84",
        "type": "subflow",
        "name": "OAuth - get access token",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 20,
                "y": 160,
                "wires": [
                    {
                        "id": "3df547ad.d54128"
                    },
                    {
                        "id": "e0a9c7dd40294351"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "82a1da71.83fe38",
        "type": "function",
        "z": "cc07b1f9.6ea84",
        "name": "Grant type password",
        "func": "msg.oauth2Request = { \n    \"access_token_url\": \"https://api.danalock.com/oauth2/token\", \n    \"credentials\": {\n        \"grant_type\": \"password\",\n        \"username\": `${flow.get(\"$parent.username\")}`,\n        \"password\": `${flow.get(\"$parent.password\")}`,\n        \"client_id\": \"danalock-web\",\n        \"client_secret\": \"\",\n        \"scope\": \"\"\n    }\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 180,
        "wires": [
            [
                "c94192a3.36cde",
                "bab50ea9.cb3e5"
            ]
        ]
    },
    {
        "id": "3df547ad.d54128",
        "type": "switch",
        "z": "cc07b1f9.6ea84",
        "name": "Retrieve access token",
        "property": "$parent.accessToken",
        "propertyType": "flow",
        "rules": [
            {
                "t": "cont",
                "v": "Refresh me!",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 200,
        "y": 160,
        "wires": [
            [
                "381730e7.8420a",
                "c997c7fd03ab2205"
            ],
            [
                "82a1da71.83fe38",
                "371deed1d624acac"
            ]
        ]
    },
    {
        "id": "381730e7.8420a",
        "type": "function",
        "z": "cc07b1f9.6ea84",
        "name": "Grant type refresh token",
        "func": "msg.oauth2Request = { \n    \"access_token_url\": \"https://api.danalock.com/oauth2/token\", \n    \"credentials\": {\n        \"grant_type\": \"refresh_token\",\n        \"client_id\": \"danalock-web\",\n        \"client_secret\": \"\",\n        \"refresh_token\": `${flow.get(\"$parent.refreshToken\")}`,\n        \"scope\": \"\"\n    }\n};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 120,
        "wires": [
            [
                "bab50ea9.cb3e5",
                "f5cb7cce7bf4678b"
            ]
        ]
    },
    {
        "id": "c94192a3.36cde",
        "type": "debug",
        "z": "cc07b1f9.6ea84",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 220,
        "wires": []
    },
    {
        "id": "66d2178e.995f08",
        "type": "debug",
        "z": "cc07b1f9.6ea84",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 200,
        "wires": []
    },
    {
        "id": "bab50ea9.cb3e5",
        "type": "oauth2",
        "z": "cc07b1f9.6ea84",
        "name": "",
        "container": "payload",
        "access_token_url": "",
        "grant_type": "set_by_credentials",
        "username": "",
        "password": "",
        "client_id": "",
        "client_secret": "",
        "scope": "",
        "headers": {},
        "x": 630,
        "y": 160,
        "wires": [
            [
                "66d2178e.995f08",
                "4d0570779b3fff5d"
            ]
        ]
    },
    {
        "id": "e0a9c7dd40294351",
        "type": "debug",
        "z": "cc07b1f9.6ea84",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 150,
        "y": 200,
        "wires": []
    },
    {
        "id": "c997c7fd03ab2205",
        "type": "debug",
        "z": "cc07b1f9.6ea84",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 60,
        "wires": []
    },
    {
        "id": "371deed1d624acac",
        "type": "debug",
        "z": "cc07b1f9.6ea84",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 220,
        "wires": []
    },
    {
        "id": "f5cb7cce7bf4678b",
        "type": "debug",
        "z": "cc07b1f9.6ea84",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 80,
        "wires": []
    },
    {
        "id": "4d0570779b3fff5d",
        "type": "change",
        "z": "cc07b1f9.6ea84",
        "name": "Persist refresh + access tokens",
        "rules": [
            {
                "t": "set",
                "p": "$parent.refreshToken",
                "pt": "flow",
                "to": "payload.refresh_token",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "$parent.accessToken",
                "pt": "flow",
                "to": "payload.access_token",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "1779f929.635777",
        "type": "tab",
        "label": "Danalock",
        "disabled": false,
        "info": ""
    },
    {
        "id": "134ccf25.e14551",
        "type": "http response",
        "z": "1779f929.635777",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1570,
        "y": 360,
        "wires": []
    },
    {
        "id": "499f6638.613b68",
        "type": "subflow:cc07b1f9.6ea84",
        "z": "1779f929.635777",
        "name": "Oauth2",
        "env": [],
        "x": 660,
        "y": 100,
        "wires": []
    },
    {
        "id": "9f304255.2f42a",
        "type": "switch",
        "z": "1779f929.635777",
        "name": "Refresh access token?",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "401",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1260,
        "y": 280,
        "wires": [
            [
                "5850ff74.3ad62",
                "bab27490cae91e6e"
            ],
            [
                "c491441a.135058"
            ]
        ]
    },
    {
        "id": "5850ff74.3ad62",
        "type": "change",
        "z": "1779f929.635777",
        "name": "access_token = need to refresh, + store msg payload",
        "rules": [
            {
                "t": "set",
                "p": "accessToken",
                "pt": "flow",
                "to": "Refresh me!",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "savedPayload",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 120,
        "wires": [
            [
                "499f6638.613b68",
                "fb29645.52e9d98"
            ]
        ]
    },
    {
        "id": "ebfd4e06.177e4",
        "type": "http request",
        "z": "1779f929.635777",
        "name": "Poll for job status",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 850,
        "y": 860,
        "wires": [
            [
                "adeb19b4.135a48",
                "31d6e83.2e64918"
            ]
        ]
    },
    {
        "id": "227e839c.872bdc",
        "type": "function",
        "z": "1779f929.635777",
        "name": "Build message",
        "func": "msg.headers = {};\n\n//msg.headers[\"content-type\"] = \"application/json\"\n//msg.headers[\"Accept\"] = \"application/json\"\n\nmsg.headers['Authorization'] = \"Bearer \"+ flow.get(\"accessToken\");\n\nmsg.method = \"POST\";\n\nmsg.url = \"https://bridge.danalockservices.com/bridge/v1/poll\";\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 639,
        "y": 860,
        "wires": [
            [
                "ebfd4e06.177e4",
                "d01cdace.162b98"
            ]
        ]
    },
    {
        "id": "c8c47d45.74109",
        "type": "delay",
        "z": "1779f929.635777",
        "name": "",
        "pauseType": "delay",
        "timeout": "6",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 320,
        "y": 740,
        "wires": [
            [
                "227e839c.872bdc"
            ]
        ]
    },
    {
        "id": "e42b630b.20e04",
        "type": "change",
        "z": "1779f929.635777",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.result.state",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1221,
        "y": 860,
        "wires": [
            [
                "9af67869.4885d8"
            ]
        ]
    },
    {
        "id": "c491441a.135058",
        "type": "switch",
        "z": "1779f929.635777",
        "name": "",
        "property": "req.url",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "/danalock/bridge/",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1430,
        "y": 600,
        "wires": [
            [
                "c8c47d45.74109"
            ],
            [
                "134ccf25.e14551"
            ]
        ]
    },
    {
        "id": "adeb19b4.135a48",
        "type": "switch",
        "z": "1779f929.635777",
        "name": "",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "InProgress",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1035,
        "y": 860,
        "wires": [
            [
                "ddda6135.74214"
            ],
            [
                "e42b630b.20e04"
            ]
        ]
    },
    {
        "id": "ddda6135.74214",
        "type": "delay",
        "z": "1779f929.635777",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 800,
        "y": 760,
        "wires": [
            [
                "227e839c.872bdc"
            ]
        ]
    },
    {
        "id": "c7c5f532.1fa4b8",
        "type": "http request",
        "z": "1779f929.635777",
        "name": "Call API",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1240,
        "y": 400,
        "wires": [
            [
                "9f304255.2f42a",
                "3f841eeb.5c4e92"
            ]
        ]
    },
    {
        "id": "9af67869.4885d8",
        "type": "http response",
        "z": "1779f929.635777",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1391,
        "y": 860,
        "wires": []
    },
    {
        "id": "4800f679.eaa748",
        "type": "comment",
        "z": "1779f929.635777",
        "name": "Getting started - Set your Danalock user and passord in node \"Set Danalock account credentials\" (at the top)",
        "info": "",
        "x": 370,
        "y": 20,
        "wires": []
    },
    {
        "id": "65391942.7f7078",
        "type": "inject",
        "z": "1779f929.635777",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 60,
        "wires": [
            [
                "5e845bdd.9da524"
            ]
        ]
    },
    {
        "id": "5e845bdd.9da524",
        "type": "change",
        "z": "1779f929.635777",
        "name": "Set credentials & reset flow varibles",
        "rules": [
            {
                "t": "set",
                "p": "username",
                "pt": "flow",
                "to": "<change me!>",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "password",
                "pt": "flow",
                "to": "<change me!>",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "accessToken",
                "pt": "flow",
                "to": "init",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "refreshToken",
                "pt": "flow",
                "to": "init",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "locks",
                "pt": "flow",
                "to": "init",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "lockId",
                "pt": "flow",
                "to": "init",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "lockSerialNumber",
                "pt": "flow",
                "to": "init",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 60,
        "wires": [
            [
                "499f6638.613b68"
            ]
        ]
    },
    {
        "id": "fb29645.52e9d98",
        "type": "delay",
        "z": "1779f929.635777",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 80,
        "y": 180,
        "wires": [
            [
                "fee335495b155c70"
            ]
        ]
    },
    {
        "id": "d13d6a4c.723f18",
        "type": "debug",
        "z": "1779f929.635777",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 540,
        "wires": []
    },
    {
        "id": "d01cdace.162b98",
        "type": "debug",
        "z": "1779f929.635777",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 940,
        "wires": []
    },
    {
        "id": "31d6e83.2e64918",
        "type": "debug",
        "z": "1779f929.635777",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 940,
        "wires": []
    },
    {
        "id": "3f841eeb.5c4e92",
        "type": "debug",
        "z": "1779f929.635777",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 320,
        "wires": []
    },
    {
        "id": "a6b6d999.190108",
        "type": "http in",
        "z": "1779f929.635777",
        "name": "",
        "url": "/danalock/api/:lock_name/*",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 380,
        "wires": [
            [
                "f94f69f54312329a",
                "3ea4924eef16e4aa"
            ]
        ]
    },
    {
        "id": "f94f69f54312329a",
        "type": "debug",
        "z": "1779f929.635777",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 320,
        "wires": []
    },
    {
        "id": "bab27490cae91e6e",
        "type": "debug",
        "z": "1779f929.635777",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1350,
        "y": 180,
        "wires": []
    },
    {
        "id": "420983d18bb37efa",
        "type": "http in",
        "z": "1779f929.635777",
        "name": "",
        "url": "/danalock/bridge/:lock_name/execute/:command",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 460,
        "wires": [
            [
                "4464f2927152d714",
                "3ea4924eef16e4aa"
            ]
        ]
    },
    {
        "id": "4464f2927152d714",
        "type": "debug",
        "z": "1779f929.635777",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 560,
        "wires": []
    },
    {
        "id": "fee335495b155c70",
        "type": "function",
        "z": "1779f929.635777",
        "name": "Prepare req msg",
        "func": "msg.headers = {};\nmsg.headers[\"content-type\"] = \"application/json\"\nmsg.headers[\"Accept\"] = \"application/json\"\nmsg.headers['Authorization'] = \"Bearer \"+ flow.get(\"accessToken\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 300,
        "wires": [
            [
                "0d4d005765156d38"
            ]
        ]
    },
    {
        "id": "0d4d005765156d38",
        "type": "switch",
        "z": "1779f929.635777",
        "name": "",
        "property": "req.url",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "/log",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "/locks",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "/execute/status",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "/execute/unlock",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "/execute/lock",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 690,
        "y": 420,
        "wires": [
            [
                "b390c1f18ec07c5d"
            ],
            [
                "9c7d53d34f786c03"
            ],
            [
                "ab82bc80817b843d"
            ],
            [
                "bd5ab9934cf417cd"
            ],
            [
                "65fa471a4579ee53"
            ]
        ]
    },
    {
        "id": "3ea4924eef16e4aa",
        "type": "subflow:2a82fd2c.f87992",
        "z": "1779f929.635777",
        "name": "",
        "env": [],
        "x": 510,
        "y": 380,
        "wires": [
            [
                "fee335495b155c70"
            ]
        ]
    },
    {
        "id": "ab82bc80817b843d",
        "type": "function",
        "z": "1779f929.635777",
        "name": "Status",
        "func": "msg.method = \"POST\";\nmsg.url = \"https://bridge.danalockservices.com/bridge/v1/execute\";\n\n\nfor (var i = 0; i < flow.get(\"locks\").length; i++) {\n    if( flow.get(\"locks[\"+i+\"].name\") == msg.req.params.lock_name) {\n\n        var lockSerialNumber = flow.get(\"locks[\"+i+\"].afi.serial_number\");\n    }\n}\n\n\nmsg.payload = {\"device\": lockSerialNumber,\"operation\":\"afi.lock.get-state\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 420,
        "wires": [
            [
                "d13d6a4c.723f18",
                "c7c5f532.1fa4b8"
            ]
        ]
    },
    {
        "id": "bd5ab9934cf417cd",
        "type": "function",
        "z": "1779f929.635777",
        "name": "Unlock",
        "func": "\nmsg.method = \"POST\";\nmsg.url = \"https://bridge.danalockservices.com/bridge/v1/execute\";\n\nfor (var i = 0; i < flow.get(\"locks\").length; i++) {\n    if( flow.get(\"locks[\"+i+\"].name\") == msg.req.params.lock_name) {\n\n        var lockSerialNumber = flow.get(\"locks[\"+i+\"].afi.serial_number\");\n    }\n}\n\n\nmsg.payload = {\"device\":lockSerialNumber,\"operation\":\"afi.lock.operate\",\"arguments\":[\"unlock\"]}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 460,
        "wires": [
            [
                "c7c5f532.1fa4b8"
            ]
        ]
    },
    {
        "id": "65fa471a4579ee53",
        "type": "function",
        "z": "1779f929.635777",
        "name": "Lock",
        "func": "\nmsg.method = \"POST\";\nmsg.url = \"https://bridge.danalockservices.com/bridge/v1/execute\";\n\nfor (var i = 0; i < flow.get(\"locks\").length; i++) {\n    if( flow.get(\"locks[\"+i+\"].name\") == msg.req.params.lock_name) {\n\n        var lockSerialNumber = flow.get(\"locks[\"+i+\"].afi.serial_number\");\n    }\n}\n\n\nmsg.payload = {\"device\":lockSerialNumber,\"operation\":\"afi.lock.operate\",\"arguments\":[\"lock\"]}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 500,
        "wires": [
            [
                "c7c5f532.1fa4b8"
            ]
        ]
    },
    {
        "id": "b390c1f18ec07c5d",
        "type": "function",
        "z": "1779f929.635777",
        "name": "log",
        "func": "\nfor (var i = 0; i < flow.get(\"locks\").length; i++) {\n    if( flow.get(\"locks[\"+i+\"].name\") == msg.req.params.lock_name) {\n\n        var lockId = flow.get(\"locks[\"+i+\"].id\");\n    }\n}\n\nmsg.method = \"GET\";\nmsg.url = \"https://api.danalock.com/log/v1/lock/\" + lockId\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 320,
        "wires": [
            [
                "c7c5f532.1fa4b8"
            ]
        ]
    },
    {
        "id": "9c7d53d34f786c03",
        "type": "function",
        "z": "1779f929.635777",
        "name": "Locks",
        "func": "\nmsg.method = \"GET\";\nmsg.url = \"https://api.danalock.com/locks/v1\";\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 360,
        "wires": [
            [
                "c7c5f532.1fa4b8"
            ]
        ]
    }
]